<div data-role="page">

  <div data-role="header" data-position="fixed">
    <h1>Edit <%= @xbmc_config.name %></h1>
    <a href="<%= url_for :action => :show, :id => @xbmc_config.object %>" class="cancel" data-direction="reverse" data-icon="back">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @xbmc_config.object %>" class="ui-btn-right" data-iconpos="right" data-icon="delete" data-direction="reverse" data-theme="e">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form id="edit_config" method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @xbmc_config.object %>"/>
      <% if @msg %>
			        <p style="color: red"><%= @msg %></p>
	    <% end %>
		  <% if @errors %>
		  	<script type="text/javascript" charset="utf-8">
		    	$(document).ready(function (){      
		      	mark_errors("#edit_config", <%=  @errors %>);        
		    	});
		    </script>
		<% end %>
		
		<ul data-role="listview">
         <li>
            <label for="xbmc_config[name]"><strong>Name:</strong></label>
            <input type="text" id="xbmc_config[name]" name="xbmc_config[name]" 	value="<%= @xbmc_config.name %>" <%= placeholder( "Name" ) %> />
				</li>

      	<li>	
            <label for="xbmc_config[url]"><strong>URL:</strong></label>
            <input type="text" id="xbmc_config[url]" name="xbmc_config[url]" value="<%= @xbmc_config.url %>" <%= placeholder( "localhost" ) %> />
      	</li>
				
				<li>
            <label for="xbmc_config[port]"><strong>Port:</strong></label>
            <input type="text" id="xbmc_config[port]" name="xbmc_config[port]" value="<%= @xbmc_config.port %>" <%= placeholder( "8080" ) %> />
      	</li>

				<li>
            <label for="xbmc_config[usrname]"><strong>Username:</strong></label>
            <input type="text" id="xbmc_config[usrname]" name="xbmc_config[usrname]" value="<%= @xbmc_config.usrname %>" <%= placeholder( "Username" ) %> />
      	</li>

				<li>
            <label for="xbmc_config[pass]"><strong>Password:</strong></label>
            <input type="password" id="xbmc_config[pass]" name="xbmc_config[password]" value="<%= @xbmc_config.password %>" <%= placeholder( "Password" ) %> />
      	</li>

				<li>
            <label for="xbmc_config[active]"><strong>Active:</strong></label>
						<select name="xbmc_config[active]" id="xbmc_config[active]" data-role="slider" data-theme="a">
							<option <%= "selected" if @xbmc_config.is_active? %> value="false">No</option>
							<option  <%= "selected" if @xbmc_config.is_active? %> value="true">Yes</option>
						</select>
      	</li>
				
				<li>
					<input type="submit" class="standardButton" value="Update" data-theme="a"/>
				</li>
			</ul>
    </form>
  </div>

</div>
