<div data-role="page">

	<div data-id="head" data-role="header" data-position="fixed" data-theme="a">
    <h1>XBMC Servers</h1>
    <a href="<%= url_for :controller => :Controls %>" class="ui-btn-left" data-icon="arrow-l" data-transition="slideup" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus" data-iconpos="right" data-theme="e">
      New
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @xbmc_configs.each do |xbmc_config| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => xbmc_config.object %>">
              <%= xbmc_config.name %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

	<div data-id="tabbar" data-role="footer" data-position="fixed" class="nav-cust">
		<div data-role="navbar" class="nav-cust" data-grid="d">
			<ul>
				<li><a href="<%= url_for :controller => :Controls %>" id="controls" data-icon="custom" data-transition="slideup" data-direction="reverse">Controls</a></li>
				<li><a href="<%= url_for :controller => :Movie %>" id="movies" data-icon="custom">Movies</a></li>
				<li><a href="<%= url_for :controller => :Tvshow %>" id="shows" data-icon="custom">TV Shows</a></li>
				<li><a href="#" id="playlist" data-icon="custom">Playlist</a></li>
				<li><a href="<%= url_for :controller => :More %>" id="more" data-icon="custom">More</a></li>
			</ul>
		</div>
	</div>
</div>
