<div data-role="page" data-add-back-btn="false">

  <div data-id="head" data-role="header" data-position="fixed">
    <h1><%= @xbmc_config.name %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @xbmc_config.object %>" class="ui-btn-right" data-iconpos="right" data-icon="star" data-theme="e" data-transition="flip">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
	
			
          <li>
						<div class="ui-grid-a">
            	<div class="ui-block-a" style="width:30%;"><strong>Name:</strong></div>
            	<div class="ui-block-b" style="width:70%; font-weight:normal;"><%= @xbmc_config.name %></div>
						</div>
          </li>
      
          <li>
            <div class="ui-grid-a">
							<div class="ui-block-a" style="width:30%;"><strong>Url:</strong></div>
            	<div class="ui-block-b" style="width:70%; font-weight:normal;"><%= @xbmc_config.url %></div>
						</div>
          </li>
      
          <li>
            <div class="ui-grid-a">
							<div class="ui-block-a" style="width:30%;"><strong>Port:</strong></div>
            	<div class="ui-block-b" style="width:70%; font-weight:normal;"><%= @xbmc_config.port %></div>
						</div>
          </li>
      
          <li>
						<div class="ui-grid-a">
            	<div class="ui-block-a" style="width:30%"><strong>Username:</strong></div>
            	<div class="ui-block-b" style="width:70%; font-weight:normal;"><%= @xbmc_config.usrname %></div>
						</div>
          </li>
      
          <li>
            <div class="ui-grid-a">
							<div class="ui-block-a" style="width:30%;"><br/><strong>Active:</strong></div>
							<div class="ui-block-b" style="width:70%; font-weight:normal;">
									<select name="slider" id="flip-c" disabled="true" data-role="slider" data-theme="a">	
										<option <%= "selected" if @xbmc_config.is_active? %> value="false">No</option>
										<option <%= "selected" if @xbmc_config.is_active? %> value="true">Yes</option>
									</select> 
								</div>
						</div>
          </li>
      
    </ul>
  </div>

</div>
