<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @movie.object %>
    <h1>Edit <%= @movie.xbmc%></h1>
    <%= link_to "Delete", :action => :delete, :id => @movie.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @movie.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Xbmc: </td>
              <td class="itemValue"><input type="text" name="movie[xbmc]" value="<%= @movie.xbmc %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Xlib: </td>
              <td class="itemValue"><input type="text" name="movie[xlib_id]" value="<%= @movie.xlib_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Year: </td>
              <td class="itemValue"><input type="text" name="movie[year]" value="<%= @movie.year %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Genre: </td>
              <td class="itemValue"><input type="text" name="movie[genre]" value="<%= @movie.genre %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Studio: </td>
              <td class="itemValue"><input type="text" name="movie[studio]" value="<%= @movie.studio %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Sorttitle: </td>
              <td class="itemValue"><input type="text" name="movie[sorttitle]" value="<%= @movie.sorttitle %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Rating: </td>
              <td class="itemValue"><input type="text" name="movie[rating]" value="<%= @movie.rating %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Trailer: </td>
              <td class="itemValue"><input type="text" name="movie[trailer]" value="<%= @movie.trailer %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Imdbnumber: </td>
              <td class="itemValue"><input type="text" name="movie[imdbnumber]" value="<%= @movie.imdbnumber %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Plotoutline: </td>
              <td class="itemValue"><input type="text" name="movie[plotoutline]" value="<%= @movie.plotoutline %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Tagline: </td>
              <td class="itemValue"><input type="text" name="movie[tagline]" value="<%= @movie.tagline %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Director: </td>
              <td class="itemValue"><input type="text" name="movie[director]" value="<%= @movie.director %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">File: </td>
              <td class="itemValue"><input type="text" name="movie[file]" value="<%= @movie.file %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Playcount: </td>
              <td class="itemValue"><input type="text" name="movie[playcount]" value="<%= @movie.playcount %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Fanart: </td>
              <td class="itemValue"><input type="text" name="movie[fanart]" value="<%= @movie.fanart %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Thumbnail: </td>
              <td class="itemValue"><input type="text" name="movie[thumbnail]" value="<%= @movie.thumbnail %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">L fanart: </td>
              <td class="itemValue"><input type="text" name="movie[l_fanart]" value="<%= @movie.l_fanart %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">L thumbnail: </td>
              <td class="itemValue"><input type="text" name="movie[l_thumbnail]" value="<%= @movie.l_thumbnail %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Plot: </td>
              <td class="itemValue"><input type="text" name="movie[plot]" value="<%= @movie.plot %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Title: </td>
              <td class="itemValue"><input type="text" name="movie[title]" value="<%= @movie.title %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Label: </td>
              <td class="itemValue"><input type="text" name="movie[label]" value="<%= @movie.label %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
