<div data-role="page">

	<div data-id="head" data-role="header" data-position="fixed" style="height:41px;">
    <a href="#" onClick="reload();" class="ui-btn-left" data-iconpos="notext" data-icon="refresh"></a>
		<h1>Movies</h1>
    <a href="<%= url_for :action => :sort %>" class="ui-btn-right" data-iconpos="right" data-icon="gear" data-rel="dialog" data-transition="flip">
      Sort
    </a>
	</div>
	
	<script>
		function reload() {
			$.get("<%= url_for :action => :update_list %>");
		}
		
		function getThumb(movieid) {
			$.post("<%= url_for :action => :get_thumb %>", {"movieid":movieid});
		}
		
		function updateList(movies) {
			if (movies !== null) {
				var list = document.getElementById('movies_list');
				if (list.hasChildNodes()) {
					while (list.childNodes.length >= 1) {
						list.removeChild(list.firstChild);       
					} 
				}
				for (movie in movies) {
					var newLi = document.createElement('li');
					newLi.id = "movielist_" + movies[movie].xlib_id;
					var code = "<a href=\"" + movies[movie].url + "\"><img id=\"movieimg_" + movies[movie].xlib_id + "\"";
					if (movies[movie].l_thumb) {
						code += "src=\"" + movies[movie].l_thumb + "\"";
					} else {
						code += "src=\"/public/images/missing_thumb.png\"";
						getThumb(movies[movie].xlib_id);
					}
					code += "/><h3>" + movies[movie].title + "</h3>"
					<% if get_active_order == get_order[:rating] %>
						// Create new Number instead of string to be able to use 
						// toFixed() method that allows me to get the rating to
						// two demical places making it easier for the user.
						var rating = new Number(movies[movie].rating)
						code += "<p>Rating = "+rating.toFixed(2)+"</p>"
					<% elsif get_active_order == get_order[:year] %>
						code += "<p>Year = "+movies[movie].year+"</p>"
					<% end %>
					code += "</a>";

					newLi.innerHTML = code;
					list.appendChild(newLi);
				}
				$(list).listview('refresh');
				hideLoading();
			}
		}
		
		function addThumb(movieid, filename) {
			document.getElementById('movieimg_'+movieid).src = filename;
		}
		
		$(document).ready(function () { 
			reload();
		});
	</script>

  <div data-role="content">
		<div>
    	<ul id="movies_list" data-role="listview" data-filter="true">
    
    	</ul>
		</div>
  </div>
	
	<div data-id="tabbar" data-role="footer" class="nav-cust" data-position="fixed">
		<div data-role="navbar" class="nav-cust" data-grid="d">
			<ul>
				<li><a href="<%= url_for :controller => :Controls %>" id="controls" data-icon="custom" data-direction="reverse">Controls</a></li>
				<li><a href="<%= url_for :controller => :Movie %>" id="movies" data-icon="custom" class="ui-btn-active ui-state-persist">Movies</a></li>
				<li><a href="<%= url_for :controller => :Tvshow %>" id="shows" data-icon="custom">TV Shows</a></li>
				<li><a href="#" id="playlist" data-icon="custom">Playlist</a></li>
				<li><a href="<%= url_for :controller => :More %>" id="more" data-icon="custom">More</a></li>
			</ul>
		</div>
	</div>

</div>
