<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @movie.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @movie.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="movie[xbmc]" class="fieldLabel">Xbmc</label>
            <input type="text" id="movie[xbmc]" name="movie[xbmc]" <%= placeholder("Xbmc") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[xlib_id]" class="fieldLabel">Xlib</label>
            <input type="text" id="movie[xlib_id]" name="movie[xlib_id]" <%= placeholder("Xlib") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[year]" class="fieldLabel">Year</label>
            <input type="text" id="movie[year]" name="movie[year]" <%= placeholder("Year") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[genre]" class="fieldLabel">Genre</label>
            <input type="text" id="movie[genre]" name="movie[genre]" <%= placeholder("Genre") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[studio]" class="fieldLabel">Studio</label>
            <input type="text" id="movie[studio]" name="movie[studio]" <%= placeholder("Studio") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[sorttitle]" class="fieldLabel">Sorttitle</label>
            <input type="text" id="movie[sorttitle]" name="movie[sorttitle]" <%= placeholder("Sorttitle") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[rating]" class="fieldLabel">Rating</label>
            <input type="text" id="movie[rating]" name="movie[rating]" <%= placeholder("Rating") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[trailer]" class="fieldLabel">Trailer</label>
            <input type="text" id="movie[trailer]" name="movie[trailer]" <%= placeholder("Trailer") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[imdbnumber]" class="fieldLabel">Imdbnumber</label>
            <input type="text" id="movie[imdbnumber]" name="movie[imdbnumber]" <%= placeholder("Imdbnumber") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[plotoutline]" class="fieldLabel">Plotoutline</label>
            <input type="text" id="movie[plotoutline]" name="movie[plotoutline]" <%= placeholder("Plotoutline") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[tagline]" class="fieldLabel">Tagline</label>
            <input type="text" id="movie[tagline]" name="movie[tagline]" <%= placeholder("Tagline") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[director]" class="fieldLabel">Director</label>
            <input type="text" id="movie[director]" name="movie[director]" <%= placeholder("Director") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[file]" class="fieldLabel">File</label>
            <input type="text" id="movie[file]" name="movie[file]" <%= placeholder("File") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[playcount]" class="fieldLabel">Playcount</label>
            <input type="text" id="movie[playcount]" name="movie[playcount]" <%= placeholder("Playcount") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[fanart]" class="fieldLabel">Fanart</label>
            <input type="text" id="movie[fanart]" name="movie[fanart]" <%= placeholder("Fanart") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[thumbnail]" class="fieldLabel">Thumbnail</label>
            <input type="text" id="movie[thumbnail]" name="movie[thumbnail]" <%= placeholder("Thumbnail") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[l_fanart]" class="fieldLabel">L fanart</label>
            <input type="text" id="movie[l_fanart]" name="movie[l_fanart]" <%= placeholder("L fanart") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[l_thumbnail]" class="fieldLabel">L thumbnail</label>
            <input type="text" id="movie[l_thumbnail]" name="movie[l_thumbnail]" <%= placeholder("L thumbnail") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[plot]" class="fieldLabel">Plot</label>
            <input type="text" id="movie[plot]" name="movie[plot]" <%= placeholder("Plot") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[title]" class="fieldLabel">Title</label>
            <input type="text" id="movie[title]" name="movie[title]" <%= placeholder("Title") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="movie[label]" class="fieldLabel">Label</label>
            <input type="text" id="movie[label]" name="movie[label]" <%= placeholder("Label") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
