<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @movie.xbmc %></h1>
    <%= link_to "Edit", :action => :edit, :id => @movie.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Xbmc</td>
        <td class="itemValue"><%= @movie.xbmc%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">XlibId</td>
        <td class="itemValue"><%= @movie.xlib_id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Year</td>
        <td class="itemValue"><%= @movie.year%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Genre</td>
        <td class="itemValue"><%= @movie.genre%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Studio</td>
        <td class="itemValue"><%= @movie.studio%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Sorttitle</td>
        <td class="itemValue"><%= @movie.sorttitle%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Rating</td>
        <td class="itemValue"><%= @movie.rating%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Trailer</td>
        <td class="itemValue"><%= @movie.trailer%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Imdbnumber</td>
        <td class="itemValue"><%= @movie.imdbnumber%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Plotoutline</td>
        <td class="itemValue"><%= @movie.plotoutline%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Tagline</td>
        <td class="itemValue"><%= @movie.tagline%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Director</td>
        <td class="itemValue"><%= @movie.director%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">File</td>
        <td class="itemValue"><%= @movie.file%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Playcount</td>
        <td class="itemValue"><%= @movie.playcount%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Fanart</td>
        <td class="itemValue"><%= @movie.fanart%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Thumbnail</td>
        <td class="itemValue"><%= @movie.thumbnail%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">LFanart</td>
        <td class="itemValue"><%= @movie.l_fanart%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">LThumbnail</td>
        <td class="itemValue"><%= @movie.l_thumbnail%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Plot</td>
        <td class="itemValue"><%= @movie.plot%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Title</td>
        <td class="itemValue"><%= @movie.title%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Label</td>
        <td class="itemValue"><%= @movie.label%></td>
      </tr>
      
    </table>
  </div>

</div>
