<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @movie.label %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @movie.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Xbmc</div>
            <div class="itemValue"><%= @movie.xbmc_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">XlibId</div>
            <div class="itemValue"><%= @movie.xlib_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">Year</div>
            <div class="itemValue"><%= @movie.year %></div>
          </li>
      
          <li>
            <div class="itemLabel">Genre</div>
            <div class="itemValue"><%= @movie.genre %></div>
          </li>
      
          <li>
            <div class="itemLabel">Studio</div>
            <div class="itemValue"><%= @movie.studio %></div>
          </li>
      
          <li>
            <div class="itemLabel">Sorttitle</div>
            <div class="itemValue"><%= @movie.sorttitle %></div>
          </li>
      
          <li>
            <div class="itemLabel">Rating</div>
            <div class="itemValue"><%= @movie.rating %></div>
          </li>
      
          <li>
            <div class="itemLabel">Trailer</div>
            <div class="itemValue"><%= @movie.trailer %></div>
          </li>
      
          <li>
            <div class="itemLabel">Imdbnumber</div>
            <div class="itemValue"><%= @movie.imdbnumber %></div>
          </li>
      
          <li>
            <div class="itemLabel">Plotoutline</div>
            <div class="itemValue"><%= @movie.plotoutline %></div>
          </li>
      
          <li>
            <div class="itemLabel">Tagline</div>
            <div class="itemValue"><%= @movie.tagline %></div>
          </li>
      
          <li>
            <div class="itemLabel">Director</div>
            <div class="itemValue"><%= @movie.director %></div>
          </li>
      
          <li>
            <div class="itemLabel">File</div>
            <div class="itemValue"><%= @movie.file %></div>
          </li>
      
          <li>
            <div class="itemLabel">Playcount</div>
            <div class="itemValue"><%= @movie.playcount %></div>
          </li>
      
          <li>
            <div class="itemLabel">Fanart</div>
            <div class="itemValue"><%= @movie.fanart %></div>
          </li>
      
          <li>
            <div class="itemLabel">Thumbnail</div>
            <div class="itemValue"><%= @movie.thumbnail %></div>
          </li>
      
          <li>
            <div class="itemLabel">LFanart</div>
            <div class="itemValue"><%= @movie.l_fanart %></div>
          </li>
      
          <li>
            <div class="itemLabel">LThumbnail</div>
            <div class="itemValue"><%= @movie.l_thumbnail %></div>
          </li>
      
          <li>
            <div class="itemLabel">Plot</div>
            <div class="itemValue"><%= @movie.plot %></div>
          </li>
      
          <li>
            <div class="itemLabel">Title</div>
            <div class="itemValue"><%= @movie.title %></div>
          </li>
      
          <li>
            <div class="itemLabel">Label</div>
            <div class="itemValue"><%= @movie.label %></div>
          </li>
      
    </ul>
  </div>

</div>
