<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-id="head" data-position="inline">
    <h1><%= @movie.label %></h1>
  </div>

	<script>
    /*
     * Plays the given movie.
     */
		function playMovie(movieid) {
			$.get("<%= url_for(:action => :play_movie) %>", {"movieid":movieid});
		}
	
    /*
     * Loads the IMDb page
     */
		function loadImdb(imdbnumber) {
			$.get("<%= url_for(:action => :open_imdb) %>", {"imdb":imdbnumber});
		}
		
    /*
     * Loads the YouTube trailer
     */
		function loadTrailer(youtubeid) {
			$.get("<%= url_for(:action => :load_trailer) %>", {"youtubeid":youtubeid});
		}

    /*
     * Adds the Movie to the Playlist queue
     */
    function addToQueue(movieid) {
      $.get("<%= url_for(:action => :add_to_queue) %>", {"movieid":movieid});
    }

    /*
     * Toggles if the Movie is the watch later list or not
     */
    function handleWatchLater(movieid) {
      var checked = document.getElementById("watch_later").checked;
      $.get("<%= url_for :action => :watch_later %>", {'movieid':movieid,'checked':checked});
    }
	</script>

  <div data-role="content">
    <ul data-role="listview">
      		<li>
            <h3>Title</h3>
            <br />
            <p><%= @movie.title %></p>
          </li>

					<li>
						<h3>Playback</h3>
            <div data-role="controlgroup" data-type="horizontal">
              <a href="#" data-role="button" onClick="playMovie(<%= @movie.xlib_id %>);">Play</a>
              <a href="#" data-role="button" onClick="addToQueue(<%= @movie.xlib_id %>);">Enqueue</a>
            </div>
          </li>
          <li>
            <fieldset data-role="controlgroup">
              <input type="checkbox" name="watch_later" id="watch_later" onClick="handleWatchLater(<%= @movie.xlib_id %>)" <%= "checked=true" if @movie.watch_later? %>/>
              <label for="watch_later">Add To Watch Later List</label>
            </fieldset>
          </li>
          <li>
            <h3>Year</h3>
            <br />
            <p><%= @movie.year %></p>
          </li>
      
          <li>
            <h3>Genre</h3>
            <br />
            <p><%= @movie.genre %></p>
          </li>
      
          <li>
            <h3>Rating</h3>
            <br />
            <p><%= @movie.rating %></p>
          </li>
      
          <li>
            <h3>Trailer</h3>
            <br />
            <p><a href="#" data-role="button" onClick="loadTrailer('<%= @movie.trailer %>');">YouTube Trailer</a></p>
          </li>
      
          <li>
            <h3>View in IMDb</h3>
            <br />
            <p><a href="#" data-role="button" onClick="loadImdb('<%= @movie.imdbnumber %>');">Go to IMDb</a></p>
          </li>   
      
          <li>
            <h3>Director</h3>
            <br />
            <p><%= @movie.director %></p>
          </li>
      
          <li>
            <h3>Plot</h3>
            <br />
            <p><%= @movie.plot %></p>
          </li>
      
    </ul>
  </div>

</div>
