<div data-role="page" data-add-back-btn="false">
	<div data-role="header" data-position="inline">
		<h3>Sort</h3>
	</div>
	
	<script>
		function toggleWatchLater() {
			var checked = document.getElementById("watch_later_list").checked;
			$.get("<%= url_for :action => :sort %>", {'watch_later':checked})
		}
		function toggleOrderDir() {
			var order_dir = $("input[name=order_dir]:checked").val();
			$.get("<%= url_for :action => :sort %>", {'order_dir':order_dir});
		}
		function setOrderBy() {
			var order = $("input[name=order]:checked").val();
			$.get("<%= url_for :action => :sort %>", {'order':order});
		}
	</script>
  
	<div data-role="content">
		<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
		<input type="checkbox" name="watch_later_list" id="watch_later_list" onClick="toggleWatchLater()" <%= "checked=true" if get_watch_list_bool == "true" %>/><label for="watch_later_list">View Watch Later List</label>
		</fieldset>
		<fieldset data-role="controlgroup">
			<legend>Sort order:</legend>
			<input type="radio" name="order_dir" id="asc" value="ASC" onClick="toggleOrderDir()" <%= "checked" if get_order_dir == "ASC" %>/>     	
			<label for="asc">Sort ASC</label>
			<input type="radio" name="order_dir" id="desc" value="DESC" onClick="toggleOrderDir()" <%= "checked" if get_order_dir == "DESC" %>/>
			<label for="desc">Sort DESC</label>
		</fieldset>
		<fieldset data-role="controlgroup">
			<legend>How to sort:</legend>			
			<input type="radio" name="order" id="title" value="title" onClick="setOrderBy()" <%= "checked" if get_active_order == get_order[:title] %>/>
			<label for="title">Order by Title</label>
			<input type="radio" name="order" id="year" value="year" onClick="setOrderBy()" <%= "checked" if get_active_order == get_order[:year] %>/>
			<label for="year">Order by Year</label>
			<input type="radio" name="order" id="recent" value="recent" onClick="setOrderBy()" <%= "checked" if get_active_order == get_order[:recent] %>/>
			<label for="recent">Order by Recently Added</label>
			<input type="radio" name="order" id="rating" value="rating" onClick="setOrderBy()" <%= "checked" if get_active_order == get_order[:rating] %>/>
			<label for="rating">Order by Rating</label>
		</fieldset>
		</div>
  </div>

</div>