<div data-role="page">

	<div data-role="header" data-position="fixed">
    <h1>Controls</h1>
    <a href="<%= url_for :controller => :XbmcConfig %>" class="ui-btn-right" data-iconpos="right" data-icon="gear">
      Settings
    </a>
	</div>
	
	<script type="text/javascript">
		function play_pause() {
			$.get("<%= url_for :action => :pause_play %>");
		}
		function stop() {
			$.get("<%= url_for :action => :stop %>");
		}
		function sm_skip_forward() {
			$.get("<%= url_for :action => :sm_skip_forward %>");
		}
		function big_skip_forward() {
			$.get("<%= url_for :action => :big_skip_forward %>");
		}
		function sm_skip_back() {
			$.get("<%= url_for :action => :sm_skip_back %>");
		}
		function big_skip_back() {
			$.get("<%= url_for :action => :big_skip_back %>");
		}
		function skip_next() {
			$.get("<%= url_for :action => :skip_next %>");
		}
		function skip_prev() {
			$.get("<%= url_for :action => :skip_prev %>");
		}
		function rewind() {
			$.get("<%= url_for :action => :rewind %>");
		}
		function fast_forward() {
			$.get("<%= url_for :action => :fast_forward %>");
		}
	</script>

  <div data-role="content">

 		<a href="#" onclick="play_pause()">Play/Pause</a> <a href="#" onclick="stop()">Stop</a>
		<br />
		<a href="#" onclick="sm_skip_back()">Small Skip Back</a> <a href="#" onclick="sm_skip_forward()">Small Skip Forward</a> 
		<br />
		<a href="#" onclick="big_skip_back()">Big Skip Back</a>
		<a href="#" onclick="big_skip_forward()">Big Skip Forward</a>
		<br />
		<a href="#" onclick="skip_prev()">Skip Prev</a>
		<a href="#" onclick="skip_next()">Skip Next</a>
		<br />
		<a href="#" onclick="rewind()">Rewind</a>
		<a href="#" onclick="fast_forward()">Fast Forward</a>
			
  </div>

	<div data-role="footer" data-position="fixed" class="nav-cust">
		<div data-role="navbar" class="nav-cust" data-grid="d">
			<ul>
				<li><a href="<%= url_for :controller => :Controls %>" id="controls" data-icon="custom" class="ui-btn-active ui-state-persist">Controls</a></li>
				<li><a href="#" id="movies" data-icon="custom">Movies</a></li>
				<li><a href="#" id="shows" data-icon="custom">TV Shows</a></li>
				<li><a href="#" id="playlist" data-icon="custom">Playlist</a></li>
				<li><a href="<%= url_for :controller => :More %>" id="more" data-icon="custom">More</a></li>
			</ul>
		</div>
	</div>
</div>
