<div data-role="page">

	<div data-role="header" data-position="fixed">
    <h1>Controls</h1>
    <a href="<%= url_for :controller => :XbmcConfig %>" class="ui-btn-right" data-iconpos="right" data-icon="gear">
      Settings
    </a>
	</div>

  <div data-role="content">

		<%= link_to "Ping", :action => :ping_test %>
		
		<p>Result = <%= get_text %></p>

  </div>

	<div data-role="footer" data-position="fixed" class="nav-cust">
		<div data-role="navbar" class="nav-cust" data-grid="d">
			<ul>
				<li><a href="<%= url_for :controller => :Controls %>" id="controls" data-icon="custom" class="ui-btn-active ui-state-persist">Controls</a></li>
				<li><a href="#" id="movies" data-icon="custom">Movies</a></li>
				<li><a href="#" id="shows" data-icon="custom">TV Shows</a></li>
				<li><a href="#" id="playlist" data-icon="custom">Playlist</a></li>
				<li><a href="<%= url_for :controller => :More %>" id="more" data-icon="custom">More</a></li>
			</ul>
		</div>
	</div>
</div>
