<div data-role="page" id="episodes">

	<div data-role="header" data-position="inline">
    	<a href="<%= url_for :controller => :Tvseason, :query => {:tvshowid => @params['tvshowid']} %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      		Back
    	</a>
    	<h1>Season <%= @params['tvseasonid'] %></h1>
    	<a href="#" onClick="refresh_eps();" class="ui-btn-right" data-iconpos="notext" data-icon="refresh"></a>
	</div>
	
	<script>
		function refresh_eps() {
			$.get("<%= url_for :action => :update_tvepisode_list %>");
		}

		function getEpisodeThumb(episodeid) {
			$.post("<%= url_for :action => :get_episode_thumb %>", {"episodeid":episodeid});
		}

		function playAllEpisodes() {
			$.get("<%= url_for :action => :play_all_episodes %>");
		}

		function queueAllEpisodes() {
			$.get("<%= url_for :action => :queue_all_episodes %>");
		}
		
		function updateEpisodeList(episodes) {
			if (episodes !== null) {
				var epilist = document.getElementById('episodes_list');
				epilist.innerHTML = "";
				for (episode in episodes) {
					var newLi = document.createElement('li');
					newLi.id = 'episodelist_'+ episodes[episode].xlib_id;
					var newItem = "<a data-rel='dialog' data-transition='slidedown' href=\"" + episodes[episode].url + "\"><img id=\"episodeimg_"+episodes[episode].xlib_id+"\"";
					if (episodes[episode].l_thumb) {
						newItem += "src=\"" + episodes[episode].l_thumb + "\"";
					} else {
						newItem += "src=\"/public/images/missing_thumb.png\"";
						getEpisodeThumb(episodes[episode].xlib_id);
					}
					newItem += "/><h3>Episode "+episodes[episode].episode+"</h3><p>" + episodes[episode].title + "</p></a>";
					newLi.innerHTML = newItem;
					epilist.appendChild(newLi);
				}
        $(epilist).listview('refresh');
			}
		}
		
		function addEpisodeThumb(episodeid, filename) {
			document.getElementById('episodeimg_'+episodeid).src = filename;
		}

		$(document).ready(function () {
			refresh_eps();
		});
	</script>

  <div data-role="content">
  	<div data-role="controlgroup" data-type="horizontal" style="text-align:center;">
  		<p>
  			<a href="#" onclick="playAllEpisodes()" data-role="button">Play All</a>
  			<a href="#" onclick="queueAllEpisodes()" data-role="button">Queue All</a>
  		</p>
  	</div>
    <ul id="episodes_list" name="episodes_list" data-role="listview" data-inset="true">
    
    </ul>
  </div>

</div>
