<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1>E<%= @tvepisode.episode %> - <%= @tvepisode.title %></h1>
   <!--
    <a href="<%= url_for :action => :index, :query => {:tvshowid => @tvepisode.tvshow_id, :tvseasonid => @tvepisode.tvseason_id} %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
  -->
  </div>

	<script>
    /*
     * Plays a given episode
     */
		function playEpisode(episodeid) {
			$.post("<%= url_for :action => :play_episode %>", {'episodeid':episodeid});
		}

    /*
     * Queues a given episode
     */
    function addEpisodeToQueue(episodeid) {
      $.post("<%= url_for :action => :add_episode_to_queue %>", {'episodeid':episodeid});
    }
	</script>

  <div data-role="content">
    <ul data-role="listview">
    	<li>
    		<div>Episode: <%= @tvepisode.episode %></div>
    	</li>
      <li>
				<div>Title: <%= @tvepisode.title %></div>
			</li>
      <li>
        <div><a href="#" data-role="button" onClick="playEpisode(<%= @tvepisode.xlib_id %>);">Play</a></div>
      </li>
      <li>
        <div><a href="#" data-role="button" onClick="addEpisodeToQueue(<%= @tvepisode.xlib_id %>);">Add To Queue</a></div>
      </li>
			<li>
				<div>Plot: <%= @tvepisode.plot %></div>
			</li>			
    </ul>
  </div>

</div>
