<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Add to Buy List</h1>
    <!-- 
      In the below a href need to put the location instead of using 
      Ruby url_for code otherwise the button doesn't work. 
    -->
    <a href="/app/Product/index" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>
  
  <div data-role="content">
    <% if @params['known'] == "false" %>
      <h3>No Products Found</h3>
    <% end %>
    <p>Enter the Movie Title and click Add to list. If it is in the database I'll redirect you there.</p>
    <form id="new_product" method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @product.object %>"/>
      <% if @errors %>
        <script type="text/javascript" charset="utf-8">
          $(document).ready(function (){      
            mark_errors("#new_product", <%=  @errors %>);        
          });
        </script>
      <% end %>
      
          <div data-role="fieldcontain">
            <label for="product[title]" class="fieldLabel">Confirm the Title</label>
            <input type="text" id="product[title]" name="product[title]"
              <% if !@params['title'].blank? %> 
                <%= "value='" + @params['title'] + "'/>" %>
              <% else %>
                <%= placeholder("Title") + "/>" %>
              <% end %> 
          </div>
      <input type="submit" value="Add to List"/>
    </form>
  </div>

</div>
